body
{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    

    
    
}
.child
{
  
    text-align: center;
  background-color:hsl(0, 0%, 12%);
padding-top: 5%;
padding-left: 2%;
padding-bottom: 5%;
padding-right: 2%;
font-size: 16px;

  
 


}
h2{
    margin: 0;
}
h6{
    margin-top: 0;
    margin-bottom: 8px;
}
p
{
    margin-top: 0;
}
.loc
{
    color:  yellowgreen;
}

button
{
    line-height: 2;
    width: 90%;
    margin: 3px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color:hsl(0, 0%, 20%) ;
    
}
button:hover
{
    background-color: yellowgreen;
}

.image
{
    border-radius: 360PX;
    width: 45px;
    height: 45px;
}
